@import "tds/reset";

:host {
  font-size: var(--tds-font-size-md);
  max-width: 600px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.search-input__wrapper {
  align-items: stretch;
  display: flex;
  position: relative;
}

.search-input__label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.search-input__input {
  border-radius: var(--tds-radius-md);
  border: 1px solid var(--tds-color-fog);
  color: var(--tds-color-black);
  flex: 1;
  font-family: inherit;
  font-size: var(--tds-font-size-sm);
  line-height: 1.875;
  padding: 0.4rem 0;
  padding-left: var(--tds-spacing-8);
  position: relative;
  transition: border 0.1s linear, background-color 0.1s linear;
}

.search-input__icon {
  color: var(--tds-color-granite);
  left: 10px;
  position: absolute;
  top: 13px;
  z-index: 1;
}

.search-input__input:focus {
  border-color: var(--tds-color-fog);
  box-shadow: var(--tds-shadow-md);
  outline: 0;
}

.search-results {
  background-color: white;
  border-radius: var(--tds-radius-lg);
  box-shadow: var(--tds-shadow-lg);
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: var(--tds-spacing-6);
  box-sizing: border-box;
  margin-top: var(--tds-spacing-1);
}

.search-result:hover,
.search-result[aria-selected="true"] {
  background-color: var(--tds-color-sand);
  cursor: pointer;
  border-radius: var(--tds-radius-lg);
}

.search-result,
.search-result__heading {
  color: var(--tds-color-black);
  font-size: var(--tds-font-size-sm);
  line-height: var(--tds-line-height-snug);
  padding-left: var(--tds-spacing-2);
  padding-right: var(--tds-spacing-2);
}

.search-result__heading {
  font-weight: bold;
  margin: var(--tds-spacing-5) 0 var(--tds-spacing-1) 0;
}

.search-result__group:first-child .search-result__heading {
  font-weight: bold;
  margin: 0 0 var(--tds-spacing-1) 0;
}

.search-result {
  align-items: center;
  display: flex;
  padding: var(--tds-spacing-2);
}

.search-result__icon {
  color: #b0adab; /* TODO: token */
  margin-right: var(--tds-spacing-2);
}

.search-result__image {
  margin-right: var(--tds-spacing-2);
  max-width: 40px;
}

.search-result__title {
  color: var(--tds-color-black);
  font-size: var(--tds-font-size-md);
  font-weight: bold;
}

.search-result__subtitle {
  color: var(--tds-color-meteorite);
  font-size: var(--tds-font-size-sm);
  line-height: var(--tds-line-height-snug);
}

[data-listbox="options"][aria-hidden="true"] {
  display: none;
}
