@import "tds/reset";

ul {
  --gutter: 40px;
  --gap: var(--tds-spacing-8);
  background-color: var(--tds-color-white);
  border-radius: var(--tds-radius-lg);
  box-shadow: var(--tds-shadow-lg);
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: var(--gap);
  margin: auto;
  max-width: 800px;
  padding: var(--tds-spacing-8);
}

.item {
  position: relative;
}

.item hr {
  background-color: var(--tds-color-fog);
  border: none;
  display: block;
  height: 1px;
  left: var(--gutter);
  position: absolute;
  right: 0;
  top: calc(100% + var(--gap) / 2);
}

.item:last-child hr {
  display: none;
}

.item--expanded {
}

h3 {
  align-items: center;
  display: flex;
  color: var(--tds-color-brand);
  font-size: var(--tds-font-size-xl);
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  height: 100%;
}

button > div {
  align-items: center;
  display: flex;
  height: 100%;
}

button .icon-wrapper {
  align-items: center;
  display: flex;
  width: var(--gutter);
}

button .icon {
  transform: rotate(-90deg);
  transition: transform 300ms;
}

.item--expanded button .icon {
  transform: rotate(0deg);
}

.description {
  display: none;
  line-height: var(--tds-line-height-normal);
  margin-left: var(--gutter);
  margin-top: var(--tds-spacing-3);
}

.item--expanded .description {
  display: block;
}
